<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="js/produtos.js"></script>

<link rel="stylesheet" type="text/css" href="css/produtos.css">
</link>

<body>
    <section class="sectionComponent grade-de-produtos content-margin-0" data-componente="gradeDeProdutos">
        <div class="container" ng-app="myApp" ng-controller="produtos">
            <div class="row">
                <div class="col-sm-12">
                    <div class="product-grid-flex">
                        <div class="product-grid-item c-bg c-bg-hover" ng-repeat="it in produtos">
                            <div class=" bg c-bg "></div>
                            <div class="product-grid-text c-description ">
                                <div class="mf_boxtv ">
                                    <div class="mf_boxtv2 ">

                                        <div class="divImageProduto" src="" ng-if="it.tipo == 'tv'">
                                            <img class="imageProduto" src="img/tv.svg" alt="">
                                            <h2 class="mf_h2 ">{{it.nome}}</h2>
                                        </div>
                                        <div class="divImageProduto" src="" ng-if="it.tipo == 'internet'">
                                            <img class="imageProduto" src="img/internet.svg" alt="">
                                            <h2 class="mf_h2 ">{{it.nome}}</h2>
                                        </div>
                                        <div class="divImageProduto" src="" ng-if="it.tipo == 'fixo'">
                                            <img class="imageProduto" src="img/fixo.svg" alt="">
                                            <h2 class="mf_h2 ">{{it.nome}}</h2>
                                        </div>
                                        <div class="divImageProduto" src="" ng-if="it.tipo == 'celular'">
                                            <img class="imageProduto" src="img/celular.svg" alt="">
                                            <h2 class="mf_h2 ">{{it.nome}}</h2>
                                        </div>

                                        <p class="mf_textotv2"></p>
                                        <p class="mf_textotv3">{{it.descricao}}

                                            <span class="teste1 " ng-repeat="listaCanais in it.listaCanais ">
                                                <img class="teste " ng-src="{{listaCanais.imagem}} ">
                                            </span>
                                        </p>
                                        <label id="mf_textotv4">{{'De: ' + it.precoDe}}</label>
                                        <div class="mf_textotv5">{{'Por: ' + it.preco}}</div>
                                        <div class="mf_textotv6">{{'Adesão: ' + it.adesao}}</div>
                                        <div class="mf_textotv7">{{'Instalação: ' + it.taxaInstalacao}}</div>
                                    </div>
                                </div>
                                <div class="wrap-btn ">
                                    <a href="# " target="_self " class="g-main-button botao Amarelo gtm-link-event " role="button " data-gtm-event-action="clique:grade-de-produtos " data-gtm-event-label="tv-mude-seu-plano-facil-hd
                                " data-gtm-event-category="net:portal:/tv-por-assinatura ">
                                                                {{it.tipo + " " + it.id}}                                                                                         
                                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>